* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0 0.25rem;
}

.grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 2.5rem 1fr 50vh;
  height: 100vh;
  margin: auto;
  max-width: 1200px;
  row-gap: 0.5rem;
}

@media screen and (min-width: 600px) {
  .grid {
    grid-template-rows: 2.5rem 1fr 49vh;
  }
}

h1 {
  font-family: monospace;
  font-size: 2rem;
  margin: 0;
  padding: 0.25rem 0 0;
  text-align: center;
}

.text-container {
  position: relative;
}

.text-container button#copy {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  border: 1px solid gray;
  background-color: #f5f5f5;
  transition: background-color 0.25s ease-in-out;
}

.text-container button#copy.success {
  background-color: #d7f1d7;
}

#text {
  font-size: 1.1rem;
  height: 100%;
  padding: 0.5rem;
  resize: none;
  width: 100%;
}

.tools-container {
  padding: 0 0 0.25rem;
}

#tools {
  display: grid;
  grid-auto-flow: dense;
  grid-auto-rows: 175px;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  height: 100%;
  overflow-y: auto;
}

#tools .tool-card {
  background: #f7f7f7;
  border-radius: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

#tools .tool-card.tall,
#tools .tool-card.big {
  grid-row: span 2;
}

@media screen and (min-width: 450px) {
  #tools .tool-card.wide,
  #tools .tool-card.big {
    grid-column: span 2;
  }
}

#tools .tool-card > div {
  margin: 0.75rem 0;
  text-align: center;
}

input[type="radio"],
input[type="checkbox"] {
  vertical-align: text-top;
}

input[type="radio"]:not(:first-child),
input[type="checkbox"]:not(:first-child) {
  margin-left: 0.75rem;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
}